---
layout: default
---
<article {% if page.feature-img %}class="feature-image" {% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    <div class="meta" style="margin-top: 20px">
      {%- if page.author -%}
      {% assign author = site.data.authors[page.author] %}
      <div>
        {%- if author.username  -%}
        <a href="//github.com/{{ author.username }}" target="_blank">
        {% avatar user=author.username size=32 %}
        </a>
        {%- endif -%}
      </div>
      <div>
        {{ author.name }}<br>
        {{ page.date | date: "%B %-d, %Y" }}<br>
      </div>

      {%- endif -%}
    </div>
    </p>

  </header>
  <section class="post-content">{{ content }}</section>

  <hr/>

  <section>
    {% include post_comments.html %}
  </section>
</article>


<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
{% include post_nav.html %}
{% endif %}