// Typography
$font-family-main: Avenir,'Lato',"애플 SD 산돌고딕 Neo","Apple SD Gothic Neo","나눔바른고딕",NanumBarunGothic,"나눔고딕",NanumGothic,"맑은 고딕","Malgun Gothic","돋움",dotum,AppleGothic,sans-serif !default;
$font-family-headings: Avenir,'Lato',"애플 SD 산돌고딕 Neo","Apple SD Gothic Neo","나눔바른고딕",NanumBarunGothic,"나눔고딕",NanumGothic,"맑은 고딕","Malgun Gothic","돋움",dotum,AppleGothic,sans-serif !default;
$font-size: 1.10em !default;

// Padding
$padding-x-large: 28% !default;
$padding-large: 22% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

// Brand colours
$brand-color: rgb(30, 31, 32) !default;
$background-color: rgb(30, 31, 32) !default;
$border-color: rgba(0, 0, 0, 0.1) !default; // rgba recommended if using feature images

// Typography colours
$text-color: rgb(217, 217, 217) !default;
$link-color: #1cba8c !default;
$selection-color: #D4D4D4 !default; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0 !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: rgb(217, 217, 217) !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #2DB400 !default;
$header-desc-text-color: #FFF !default;
$header-desc-link-color: #FFF !default;
